#appoiment{
    background-image: url(../image/appoinment.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    @include section-padding();
    .appioment-grid{
        @include leptop(){
            display:grid;
            grid-template-columns: repeat(6,1fr);
        }
        form{
            background:$white-color;
            padding:3rem 1.5rem;
            @include tablet(){
                grid-column:4/-1;
            }
            @include leptop(){
                grid-column:4/-1;
            }
            p{
                font-size:30px;
                font-weight:300;
                @include tablet(){
                    font-size:55px;
                }
            }
            h1{
                font-weight:600;
                text-transform:capitalize;
                margin:0 0 1rem 0;
                @include tablet(){
                    font-size:55px;
                }
            }
            .input-grid{
                display:grid;
                grid-template-columns:1fr;
                grid-template-rows: repeat(8,min-content);
                grid-row-gap:20px;
                @include leptop(){
                    grid-template-columns: repeat(12,1fr);
                    grid-template-rows: repeat(5,min-content);
                    grid-column-gap:20px;
                    select{
                        grid-column:1/-1;
                        grid-row:1/2;
                    }
                    input:nth-child(2){
                        grid-column:1/10;
                        grid-row:2/3;
                    }
                    input:nth-child(3){
                        grid-column:10/-1;
                        grid-row:2/3;
                    }
                    input:nth-child(4){
                        grid-column:1/7;
                        grid-row:3/4;
                    }
                    input:nth-child(5){
                        grid-column:7/-1;
                        grid-row:3/4;
                    }
                    .input-icon:nth-child(6){
                        grid-column:1/7;
                        grid-row:4/5;
                    }
                    .input-icon:nth-child(7){
                        grid-column:7/-1;
                        grid-row:4/5;
                    }
                    input:nth-child(8){
                        grid-column:1/-1;
                        grid-row:5/6;
                    }
                }
                select,input{
                    padding:1rem;
                    border-radius:5px;
                    border:1px solid lighten($black-color,75%);
                    transition:.5s;
                    option{
                        color:lighten($black-color,75%);
                        transition:.5s;
                        padding:1rem;
                    }
                }
                input[type="submit"]{
                    @include btn();
                    background-image:linear-gradient(to left, $secondary-color,lighten($primary-color,5%));
                }
                .input-icon{
                    position:relative;
                    input{
                        width:100%;
                    }
                    i{
                        position:absolute;
                        top:17px;
                        right:15px;
                        margin:auto;
                        font-size:20px;
                        color:lighten($black-color,60%);;
                    }
                }
            }
        }
    }
}