#health{
    @include section-padding();
    .health-heading{
        @include leptop(){
            max-width:500px;
            margin:auto;
        }
        text-align:center;
        h1{
            @include leptop(){
                font-size:50px;
                font-weight:bold;
            }
        }
        p{
            font-size:17px;
            color:lighten($black-color,50%);
            font-weight:300;
            margin:2rem;
        }
    }
    .health-grid{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(3,min-content);
        grid-row-gap:50px;
        @include tablet(){
            grid-template-columns: repeat(2,1fr);
            grid-gap:30px;
        }
        @include leptop(){
            grid-template-columns: repeat(3,1fr);
            grid-gap:30px;
        }
        .health-box{
            text-align:center;
            padding:5rem 3rem;
            border:2px solid lighten($primary-color,47%);
            border-radius:10px;
            .health-icon{
                text-align:center;
                i{
                    color:$white-color;
                    font-size:33px;
                    background-image:linear-gradient($primary-color,2%,$secondary-color);
                    padding:2rem 2.1rem;
                    border-radius:60px;
                    margin-bottom:2rem;
                }
            }
            h1{
                font-weight:normal;
                font-size:25px;
            }
            p{
                @include lead();
            }
        }
    }
}