* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
}

@media screen and (max-width: 575px) {
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

nav {
  position: relative;
  background: rgba(26, 89, 234, 0.8);
  height: 120px;
}

@media screen and (max-width: 991px) {
  nav {
    height: 50px;
  }
}

nav .logo {
  display: inline-block;
  line-height: 145px;
}

@media screen and (max-width: 991px) {
  nav .logo {
    line-height: 60px;
  }
  nav .logo img {
    width: 75px;
  }
}

nav .menu {
  display: inline-block;
  list-style: none;
  float: right;
}

nav .menu li {
  display: inline-block;
  line-height: 120px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .menu li a {
  color: #fff;
  text-decoration: none;
  margin: 0 2rem 0 0;
}

@media screen and (max-width: 991px) {
  nav .menu li a i {
    float: right;
  }
}

nav .menu li a .icon-plus {
  display: none;
}

@media screen and (max-width: 991px) {
  nav .menu li a .icon-plus {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  nav .menu li a .blog-icon-arrow {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  nav .menu li .blog-submenu, nav .menu li .page-submenu {
    background: red;
    display: none;
  }
}

@media screen and (min-width: 992px) {
  nav .menu li .blog-submenu, nav .menu li .page-submenu {
    position: absolute;
    background: #fff;
    width: 200px;
    left: 0;
    opacity: 0;
    bottom: -150px;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
}

nav .menu li .blog-submenu li, nav .menu li .page-submenu li {
  display: block;
  padding: .7rem 0;
  line-height: 20px;
}

nav .menu li .blog-submenu li a, nav .menu li .page-submenu li a {
  color: #000;
  padding: 0rem 1rem;
}

nav .menu li .submenu-phone {
  display: none;
}

@media screen and (max-width: 991px) {
  nav .menu li .submenu-phone {
    display: block;
    padding: .5rem 1rem;
  }
  nav .menu li .submenu-phone a {
    display: block;
  }
}

nav .menu li:hover .blog-submenu {
  opacity: 1;
  bottom: -85px;
}

nav .menu li:hover .page-submenu {
  opacity: 1;
  bottom: -85px;
}

nav .menu a:nth-child(6) {
  margin-left: 2rem;
  padding: 1.1rem 2.5rem;
  background: #25BFF1;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background: #fff;
  color: #0f3ea8;
  font-size: 16px;
  -webkit-transition: .4s;
  transition: .4s;
}

@media screen and (min-width: 1200px) {
  nav .menu a:nth-child(6) {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 991px) {
  nav .menu a:nth-child(6) {
    display: none;
  }
}

nav .menu a:nth-child(6):hover {
  color: #fff;
  background: #0f3ea8;
}

@media screen and (max-width: 991px) {
  nav .menu {
    position: absolute;
    background: #fff;
    left: 0;
    top: 50px;
    right: 0;
    margin: auto;
    width: 70%;
    overflow: hidden;
    height: 0px;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  nav .menu li {
    display: block;
    line-height: 30px;
    padding: 0px 1rem;
  }
  nav .menu li a {
    color: #000;
    font-size: 15px;
  }
}

nav #menu-chk {
  display: none;
}

nav .navbar-icon {
  display: none;
}

@media screen and (max-width: 991px) {
  nav .navbar-icon {
    float: right;
    color: #fff;
    margin-top: 10px;
    font-size: 25px;
    display: block;
  }
}

#menu-chk:checked ~ .menu {
  height: 310px;
}

.header {
  background-image: url(../image/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-bottom: 5rem;
}

.header:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(12, 45, 122, 0.76);
  top: 0;
  left: 0;
  z-index: -1;
}

.header .header-grid {
  color: #fff;
  padding: 5rem 0 6rem 0;
}

@media screen and (min-width: 768px) {
  .header .header-grid {
    padding: 7rem 0 11rem 0;
  }
}

@media screen and (min-width: 992px) {
  .header .header-grid {
    padding: 13rem 0 15rem 0;
  }
}

.header .header-grid p:first-child {
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.header .header-grid h1 {
  font-size: 33px;
}

@media screen and (min-width: 768px) {
  .header .header-grid h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 992px) {
  .header .header-grid h1 {
    font-size: 75px;
  }
}

.header .header-grid p:nth-child(3) {
  font-size: 33px;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .header .header-grid p:nth-child(3) {
    font-size: 55px;
  }
}

@media screen and (min-width: 992px) {
  .header .header-grid p:nth-child(3) {
    font-size: 70px;
  }
}

.header .header-grid a {
  padding: 1.1rem 2.5rem;
  border: 1px solid #25BFF1;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #fff;
}

.header .header-grid a:hover {
  color: #000;
  background-color: #fff;
}

#welcome-section {
  padding: 5rem 0rem;
}

#welcome-section .welcome-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
}

@media screen and (min-width: 992px) {
  #welcome-section .welcome-section-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0;
  }
}

#welcome-section .welcome-section-grid .welcome-picture {
  position: relative;
}

#welcome-section .welcome-section-grid .welcome-picture:after {
  content: "";
  position: absolute;
  background-color: #E0FBFF;
  width: 95%;
  height: 100%;
  z-index: -1;
  top: 25px;
  border-radius: 10px;
}

#welcome-section .welcome-section-grid .welcome-picture img {
  width: 95%;
  float: right;
  border-radius: 10px;
}

#welcome-section .welcome-section-grid .welcome-info p:first-child {
  font-size: 33px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  #welcome-section .welcome-section-grid .welcome-info p:first-child {
    font-size: 50px;
  }
}

#welcome-section .welcome-section-grid .welcome-info h1 {
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  #welcome-section .welcome-section-grid .welcome-info h1 {
    font-size: 50px;
  }
}

#welcome-section .welcome-section-grid .welcome-info p:nth-child(3) {
  margin: 3rem 0 2rem 0;
  color: gray;
  line-height: 25px;
  font-weight: 300;
}

#welcome-section .welcome-section-grid .welcome-info ul {
  margin-bottom: 4rem;
}

#welcome-section .welcome-section-grid .welcome-info ul li {
  list-style: inside;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  #welcome-section .welcome-section-grid .welcome-info ul li {
    line-height: 40px;
  }
}

#welcome-section .welcome-section-grid .welcome-info .btn {
  padding: 1.1rem 2.5rem;
  background: #25BFF1;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#25BFF1), to(#779df3));
  background-image: linear-gradient(to right, #25BFF1, #779df3);
  text-transform: capitalize;
}

#department {
  padding: 5rem 0rem;
  background-image: url(../image/department-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#department .department-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 40px;
}

#department .department-grid .department-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#department .department-grid .department-info .departmrnt-info-a h3 {
  font-size: 30px;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-info .departmrnt-info-a h3 {
    font-size: 50px;
  }
}

#department .department-grid .department-info .departmrnt-info-a p {
  font-weight: 300;
  line-height: 30px;
  margin: 1.5rem 0;
  color: #666666;
  font-size: 17px;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  #department .department-grid .department-info .departmrnt-info-a p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  #department .department-grid .department-info .departmrnt-info-b {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-info .departmrnt-info-b {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

#department .department-grid .department-info .departmrnt-info-b a {
  padding: 1.1rem 2.5rem;
  border: 1px solid #25BFF1;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  font-weight: 300;
  line-height: 30px;
  margin: 1.5rem 0;
  color: #666666;
  font-size: 17px;
  text-transform: capitalize;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#department .department-grid .department-info .departmrnt-info-b a:hover {
  background-color: #208cee;
  color: #fff;
}

#department .department-grid .department-cetagori {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 10px;
}

@media screen and (min-width: 768px) {
  #department .department-grid .department-cetagori {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    -ms-grid-rows: (150px)[2];
        grid-template-rows: repeat(2, 150px);
  }
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-cetagori {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
  }
}

#department .department-grid .department-cetagori a {
  text-align: center;
  padding: 1rem 0;
  border: 0.5px solid #c8effb;
  text-decoration: none;
  color: #1A59EA;
  border-radius: 3px;
  font-size: 18px;
  background: #fff;
}

@media screen and (min-width: 768px) {
  #department .department-grid .department-cetagori a {
    padding: 4.5rem 0;
  }
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-cetagori a {
    font-size: 15px;
  }
}

#department .department-grid .department-cetagori .active {
  background-image: -webkit-gradient(linear, left top, right top, from(#25BFF1), to(#208cee));
  background-image: linear-gradient(to right, #25BFF1, #208cee);
  color: #fff;
}

#department .department-grid .department-post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 40px;
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-post {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 30px;
  }
}

#department .department-grid .department-post .department-post-image img {
  width: 100%;
  height: 100%;
}

#department .department-grid .department-post .department-post-info {
  padding: 0 2rem;
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-post .department-post-info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

#department .department-grid .department-post .department-post-info h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-post .department-post-info h1 {
    font-size: 23px;
  }
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-post .department-post-info h1 {
    margin-bottom: .3rem;
  }
}

#department .department-grid .department-post .department-post-info p {
  font-weight: 300;
  line-height: 30px;
  margin: 1.5rem 0;
  color: #666666;
  font-size: 17px;
  margin-bottom: 4rem;
}

@media screen and (min-width: 992px) {
  #department .department-grid .department-post .department-post-info p {
    margin-bottom: .3rem;
  }
}

#department .department-grid .department-post .department-post-info a {
  padding: 1.1rem 2.5rem;
  border: 1px solid #25BFF1;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  font-weight: 300;
  line-height: 30px;
  margin: 1.5rem 0;
  color: #666666;
  font-size: 17px;
  text-transform: capitalize;
  color: #1A59EA;
}

#department .department-grid .department-post .department-post-info a:hover {
  background: #25BFF1;
  color: #fff;
}

#doctors {
  padding: 5rem 0 12rem;
}

@media screen and (min-width: 768px) {
  #doctors {
    padding: 6rem 0 5rem 0;
  }
}

@media screen and (min-width: 992px) {
  #doctors {
    padding: 6rem 0 12rem 0;
  }
}

#doctors .doctors-section-heading {
  text-align: center;
}

@media screen and (min-width: 992px) {
  #doctors .doctors-section-heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

#doctors .doctors-section-heading .heading-content h1 {
  font-size: 27px;
  line-height: 33px;
}

@media screen and (min-width: 768px) {
  #doctors .doctors-section-heading .heading-content h1 {
    font-size: 33px;
  }
}

@media screen and (min-width: 992px) {
  #doctors .doctors-section-heading .heading-content h1 {
    font-size: 50px;
    font-weight: 600;
  }
}

#doctors .doctors-section-heading .heading-content p {
  font-weight: 300;
  line-height: 30px;
  margin: 1.5rem 0;
  color: #666666;
  font-size: 17px;
}

@media screen and (min-width: 768px) {
  #doctors .doctors-section-heading .heading-content p {
    margin: 2rem 0;
  }
}

@media screen and (min-width: 992px) {
  #doctors .doctors-section-heading .heading-content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
  }
}

#doctors .doctor-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 160px;
}

@media screen and (min-width: 768px) {
  #doctors .doctor-section-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}

@media screen and (min-width: 992px) {
  #doctors .doctor-section-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0px;
  }
}

#doctors .doctor-section-grid .doctor-box {
  position: relative;
}

#doctors .doctor-section-grid .doctor-box .doctor-image {
  overflow: hidden;
  border-radius: 10px;
}

#doctors .doctor-section-grid .doctor-box .doctor-image img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#doctors .doctor-section-grid .doctor-box .doctor-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#doctors .doctor-section-grid .doctor-box .doctor-info {
  position: absolute;
  background: #fff;
  margin-top: -2rem;
  padding: 2rem 1rem 0 1rem;
  z-index: 2;
  bottom: -100px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

#doctors .doctor-section-grid .doctor-box .doctor-info h1 {
  font-weight: 600;
  color: #25BFF1;
}

#doctors .doctor-section-grid .doctor-box .doctor-info p {
  font-weight: 300;
  line-height: 30px;
  margin: 1.5rem 0;
  color: #666666;
  font-size: 17px;
  padding: 0 0 1.5rem 0;
  margin: 0;
  border-bottom: 1px solid #cdf0fc;
}

#doctors .doctor-section-grid .doctor-box .doctor-info a {
  color: #bfbfbf;
  text-decoration: none;
  padding: 0 1rem;
  line-height: 70px;
  -webkit-transition: .3s;
  transition: .3s;
}

#doctors .doctor-section-grid .doctor-box .doctor-info a:hover {
  color: #1A59EA;
}

#appoiment {
  background-image: url(../image/appoinment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0rem;
}

@media screen and (min-width: 992px) {
  #appoiment .appioment-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

#appoiment .appioment-grid form {
  background: #fff;
  padding: 3rem 1.5rem;
}

@media screen and (min-width: 768px) {
  #appoiment .appioment-grid form {
    grid-column: 4/-1;
  }
}

@media screen and (min-width: 992px) {
  #appoiment .appioment-grid form {
    grid-column: 4/-1;
  }
}

#appoiment .appioment-grid form p {
  font-size: 30px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  #appoiment .appioment-grid form p {
    font-size: 55px;
  }
}

#appoiment .appioment-grid form h1 {
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 768px) {
  #appoiment .appioment-grid form h1 {
    font-size: 55px;
  }
}

#appoiment .appioment-grid form .input-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[8];
      grid-template-rows: repeat(8, -webkit-min-content);
      grid-template-rows: repeat(8, min-content);
  grid-row-gap: 20px;
}

@media screen and (min-width: 992px) {
  #appoiment .appioment-grid form .input-grid {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (min-content)[5];
        grid-template-rows: repeat(5, -webkit-min-content);
        grid-template-rows: repeat(5, min-content);
    grid-column-gap: 20px;
  }
  #appoiment .appioment-grid form .input-grid select {
    grid-column: 1/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #appoiment .appioment-grid form .input-grid input:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #appoiment .appioment-grid form .input-grid input:nth-child(3) {
    grid-column: 10/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #appoiment .appioment-grid form .input-grid input:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  #appoiment .appioment-grid form .input-grid input:nth-child(5) {
    grid-column: 7/-1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  #appoiment .appioment-grid form .input-grid .input-icon:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  #appoiment .appioment-grid form .input-grid .input-icon:nth-child(7) {
    grid-column: 7/-1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  #appoiment .appioment-grid form .input-grid input:nth-child(8) {
    grid-column: 1/-1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

#appoiment .appioment-grid form .input-grid select, #appoiment .appioment-grid form .input-grid input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  -webkit-transition: .5s;
  transition: .5s;
}

#appoiment .appioment-grid form .input-grid select option, #appoiment .appioment-grid form .input-grid input option {
  color: #bfbfbf;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 1rem;
}

#appoiment .appioment-grid form .input-grid input[type="submit"] {
  padding: 1.1rem 2.5rem;
  background: #25BFF1;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, right top, left top, from(#25BFF1), to(#316aec));
  background-image: linear-gradient(to left, #25BFF1, #316aec);
}

#appoiment .appioment-grid form .input-grid .input-icon {
  position: relative;
}

#appoiment .appioment-grid form .input-grid .input-icon input {
  width: 100%;
}

#appoiment .appioment-grid form .input-grid .input-icon i {
  position: absolute;
  top: 17px;
  right: 15px;
  margin: auto;
  font-size: 20px;
  color: #999999;
}

#health {
  padding: 5rem 0rem;
}

#health .health-heading {
  text-align: center;
}

@media screen and (min-width: 992px) {
  #health .health-heading {
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  #health .health-heading h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

#health .health-heading p {
  font-size: 17px;
  color: gray;
  font-weight: 300;
  margin: 2rem;
}

#health .health-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 50px;
}

@media screen and (min-width: 768px) {
  #health .health-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 992px) {
  #health .health-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

#health .health-grid .health-box {
  text-align: center;
  padding: 5rem 3rem;
  border: 2px solid #f6f8fe;
  border-radius: 10px;
}

#health .health-grid .health-box .health-icon {
  text-align: center;
}

#health .health-grid .health-box .health-icon i {
  color: #fff;
  font-size: 33px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A59EA), color-stop(2%), to(#25BFF1));
  background-image: linear-gradient(#1A59EA, 2%, #25BFF1);
  padding: 2rem 2.1rem;
  border-radius: 60px;
  margin-bottom: 2rem;
}

#health .health-grid .health-box h1 {
  font-weight: normal;
  font-size: 25px;
}

#health .health-grid .health-box p {
  font-weight: 300;
  line-height: 30px;
  margin: 1.5rem 0;
  color: #666666;
  font-size: 17px;
}

#footer-banner {
  position: relative;
  color: #fff;
}

#footer-banner::after {
  content: "";
  position: absolute;
  background-image: url(../image/footer-banner-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

@media screen and (min-width: 768px) {
  #footer-banner::after {
    width: 50%;
  }
}

#footer-banner::before {
  content: "";
  position: absolute;
  background-color: rgba(26, 89, 234, 0.95);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  #footer-banner::before {
    width: 50%;
    background-color: rgba(68, 202, 255, 0.767);
  }
}

#footer-banner .footer-banner-overlay {
  padding: 5rem 0rem;
}

@media screen and (min-width: 768px) {
  #footer-banner .footer-banner-overlay {
    background: rgba(0, 0, 0, 0.301);
    position: relative;
  }
  #footer-banner .footer-banner-overlay::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../image/footer-banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    z-index: -2;
  }
  #footer-banner .footer-banner-overlay::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(26, 89, 234, 0.8);
    width: 50%;
    height: 100%;
    z-index: -1;
  }
}

#footer-banner .footer-banner-overlay .footer-banner-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 30px;
}

@media screen and (min-width: 992px) {
  #footer-banner .footer-banner-overlay .footer-banner-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

#footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-1 p {
  font-size: 17px;
}

#footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-1 h1 {
  margin: 1rem 0 1.5rem;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  #footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-1 h1 {
    font-size: 50px;
  }
}

#footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-1 a {
  padding: 1.1rem 2.5rem;
  border: 1px solid #25BFF1;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-1 a:hover {
  background: #fff;
  color: #000;
}

#footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-2 i {
  display: inline-block;
  font-size: 35px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  #footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-2 i {
    font-size: 50px;
    margin-right: 20px;
  }
}

#footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-2 span {
  display: inline-block;
}

#footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-2 span span {
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  #footer-banner .footer-banner-overlay .footer-banner-grid .banner-part-2 span span {
    font-size: 60px;
  }
}

footer {
  padding: 5rem 0rem;
  background: #152538;
}

footer .hr {
  width: 50px;
  height: 2px;
  background: #fff;
  margin: 1.5rem 0;
}

footer .footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 40px;
}

@media screen and (min-width: 768px) {
  footer .footer-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
  }
}

@media screen and (min-width: 992px) {
  footer .footer-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
  }
}

footer .footer-grid .about-medi {
  font-weight: 300;
  line-height: 30px;
  margin: 1.5rem 0;
  color: #666666;
  font-size: 17px;
  color: #b3b3b3;
}

footer .footer-grid .about-medi p {
  margin: 1rem 0;
}

footer .footer-grid .about-medi a {
  color: #b3b3b3;
  text-decoration: none;
  margin: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .footer-grid .about-medi a:hover {
  color: #1A59EA;
}

footer .footer-grid .footer-departments h1 {
  color: #fff;
  font-size: 25px;
}

footer .footer-grid .footer-departments .footer-departments-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
}

footer .footer-grid .footer-departments .footer-departments-grid a {
  display: block;
  text-decoration: none;
  color: #b3b3b3;
  line-height: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .footer-grid .footer-departments .footer-departments-grid a:hover {
  color: #1A59EA;
}

footer .footer-grid .available h1 {
  color: #fff;
}

footer .footer-grid .available .available-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
}

footer .footer-grid .available .available-grid .available-part-2 {
  -ms-grid-column-align: end;
      justify-self: end;
}

footer .footer-grid .available .available-grid p {
  text-decoration: none;
  color: #b3b3b3;
  line-height: 40px;
}

footer .copyright {
  color: #666666;
  margin-top: 5rem;
  padding-top: 2rem;
  border-top: 1px solid #b3b3b3;
  line-height: 30px;
  font-weight: 300;
}

footer .copyright a {
  text-decoration: none;
  color: #1A59EA;
}
/*# sourceMappingURL=style.css.map */